input, select {
  color: inherit;
  appearance: none;
  box-sizing: border-box;
  margin-top: 20px;
  background-color: var(--card-hover-background);
  font-size: inherit;
  font-family: inherit;
  padding: 7px 10px;
  border-radius: 5px;
  border: 1px solid #7a7979;
  width: 0;
  min-width: 260px;

  &:focus {
    border-color: var(--text-color);
  }
}

select {
  cursor: pointer;

  option {
    color: var(--text-color);
  }

  option[value=""], &:invalid {
    color: #7a7979;
  }
}