:root {
  --gnomeblue: #4a86cf;

  --orange: #FF7800;
  --purple: #9141AC;
  --green: #33D17A;
  --red: #E01B24;

  --white: #FFFFFF;
  --quiteblack: #241F31;
}

body {
  font-family: Inter, sans-serif;
  font-size: 18px;
  letter-spacing: -0.014em;
  line-height: 1.6;
}

p {
  margin: 16px 0;
}

h1, h2, h3, h4 {
  font-family: Cantarell, sans-serif;
  letter-spacing: 0;
}

h1 {
  font-size: 32pt;
  font-weight: 300;
}

h2 {
  font-size: 22pt;
  font-weight: 800;
  color: var(--gnomeblue);
}

h3 {
  font-size: 18pt;
  font-weight: 800;
}

h4 {
  font-size: 16pt;
  font-weight: 700;
}