
header {
  padding-bottom: 50px;
  background: radial-gradient(circle at top right, var(--splash-color1), var(--splash-color2));
  color: var(--splash-text);

  h1 {
    font-size: 48pt;
    font-weight: 800;
    word-wrap: break-word;
    margin-bottom: 0.25em;

    @media (max-width: 600px) {
      font-size: 10vw;
    }
  }

  section {
    background-color: transparent !important;
    > div {
      margin: 0 auto;
    }
  }

  nav {
    display: flex;
    padding-top: 15px;

    ul {
      list-style: none;
      display: inline-flex;
      padding: 0;
      margin: 0;
      column-gap: 10px;

      li {
        line-height: 1.3;
      }

      &.end {
        margin-inline-start: auto;
        text-align: end;
      }

      &.begin {

        a {
          color: var(--white);
          font-weight: 500;
          display: flex;
          padding: 5px 15px;
          border-radius: 500px;
          margin-left: -15px;

          &:hover {
            color: var(--white);
            background: rgba(255, 255, 255, 0.1);
          }

          &::before {
            content: '';
            display: block;
            width: 22px;
            height: 22px;
            background-image: url(../icon/gnome.svg);
            background-size: contain;
            background-repeat: no-repeat;
            margin-right: 2px;
          }
        }
      }


      &.end li {
        display: inline-block;

        a, a:visited, label {
          border-radius: 500px;
          display: inline-block;
          padding: 5px 15px;
          color: var(--white);
          cursor: pointer;

          &:hover, &:focus {
            background: rgba(255, 255, 255, 0.1);
          }
        }
      }
    }
  }

  .nav-icon {
    filter: invert(1);
    display: block;
  }
}

#show-navigation {
  display: none;

  &:checked {
    background: red;
  }

  &:checked ~ .expand {
    opacity: 1;
    height: auto;
    visibility: visible;
  }

  &:checked ~ * label[for="show-navigation"] {
    background: rgba(255, 255, 255, 0.3);
  }
}

.expand {
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: opacity 500ms ease-out;
}

.detail-nav {
  display: flex;
  flex-wrap: wrap;
  column-gap: 3em;
  justify-content: space-evenly;

  @media (max-width: 500px) {
    justify-content: start;
  }

  h4 {
    font-size: 1em;
    font-weight: 800;
    margin: 2em 0 0.3em;
  }

  ul {
    font-size: 0.9em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    column-gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 0.1em;
  }

  a, a:visited {
    color: inherit;

    &:hover {
      color: inherit;
      text-decoration: underline;
    }
  }
}