.internships {
  @extend .smaller-font;
  margin: 40px 0 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  column-gap: 20px;
  row-gap: 20px;
  font-size: 0.9em;

  a, a:visited {
    color: inherit;
    border-radius: 9px;
    background-color: var(--box-background);
    padding-bottom: 10px;
    transition: background-color 0.3s;

    &:hover {
      color: inherit;
      background-color: var(--box-hover-background);
    }

    h3 {
      margin: 0;
      background-color: var(--gnomeblue);
      color: var(--white);
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
      padding: 10px 20px;
      font-size: 1.3em;
    }

    p {
      margin: 20px;
    }
  }
}
