ul.links {
  @extend .smaller-font;
  padding: 0;
  list-style: none;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 300px), 1fr));
  row-gap: 11px;
  column-gap: 11px;
  hyphens: auto;

  li {
    display: contents;
  }

  a, a:visited {
    display: flex;
    transition: 0.3s background-color;
    padding: 13px;
    color: var(--text-color);
    border-radius: 9px;
    --secondary-color: var(--white);

    @media(max-width: 400px) {
      padding-left: 0;
      padding-right: 0;
    }

    b {
      margin: 0 0 3px;
      display: block;
    }

    &.chat {
      --primary-color: var(--green);
    }

    &.docs {
      --primary-color: var(--gnomeblue);
    }

    &.issues, &.gitlab, &.translation {
      --primary-color: var(--orange);
    }

    &.installation {
      --primary-color: var(--purple);
    }

    .icon {
      filter: var(--light-shadow);
      margin-inline-end: 18px;
      border-radius: 50%;
      background: var(--primary-color);
      padding: 10px;
      height: 24px;
      width: 24px;

      svg {
        color: var(--secondary-color);
        overflow: visible;
        height: 24px;
        width: 24px;
      }
    }


    &:hover {
      background-color: var(--card-hover-background);
      color: var(--text-color);
      filter: none;

      img {
        filter: var(--icon-shadow);
      }
    }
  }

  a.text-button > *:first-child {
    flex-shrink: 0;
    flex-grow: 0;
  }
}