.tabbed {
  margin: 20px 0 30px;
  border-radius: 5px;
  overflow: hidden;
  background: var(--box-background);

  input {
    display: none;
  }

  nav {
    display: flex;
    flex-wrap: wrap;
  }

  label {
    flex-grow: 1;
    width: 120px;
    display: inline-block;
    color: var(--light1);
    background-color: var(--gnomeblue);
    border-bottom: 4px solid var(--gnomeblue);
    text-align: center;
    padding: 9px 10px 5px;
    cursor: pointer;

    &:hover {
      background-color: var(--blue2);
      border-color: var(--blue2);
    }
  }

  #C:checked ~ nav label[for="C"],
  #JavaScript:checked ~ nav label[for="JavaScript"],
  #Python:checked ~ nav label[for="Python"],
  #Rust:checked ~ nav label[for="Rust"],
  #Vala:checked ~ nav label[for="Vala"]
  {
    border-bottom-color: currentColor;
  }

  figure > * {
    display: none;
  }

  #C:checked ~ figure > #content-C,
  #JavaScript:checked ~ figure > #content-JavaScript,
  #Python:checked ~ figure > #content-Python,
  #Rust:checked ~ figure > #content-Rust,
  #Vala:checked ~ figure > #content-Vala
  {
    display: block;
    animation: fade_in_show 0.5s
  }
}

@keyframes fade_in_show {
     0% {
          opacity: 0;
     }

     100% {
          opacity: 1;
     }
}