div.app-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  align-items: flex-start;
  margin-top: 75px;

  & > * {
    padding: 0 15px;
    text-align: left;
  }

  img {
    height: 128px;
    width: 128px;
  }

  h1 {
    line-height: initial;
    margin: 0;
  }

  p {
    margin: 0;
    max-width: 360px;
  }
}