.mock-window {
  overflow: hidden;
  border-radius: 12px;
  background-color: var(--mock-window-1);
  border: 2px solid var(--mock-window-border);
  max-width: 90%;
  margin: 20px auto;
  font-family: Cantarell, sans-serif;



  &.fade-top {
    background: linear-gradient(to top, var(--mock-window-1), var(--mock-window-2));
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: none;
  }

  &.fade-bottom {
    background: linear-gradient(to bottom, var(--mock-window-1), var(--mock-window-2));
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
  }
}

.mock-headerbar {
  background-color: var(--mock-headerbar);
  padding: 7px 17px;
  text-align: center;
}


.mock-button {
  display: inline-block;
  border-radius: 6px;
  background-color: var(--mock-control);
  padding: 6px 17px;
  font-weight: bold;
  user-select: none;
  min-height: 25px;

  svg {
    margin-top: 2px;
    margin-bottom: -2px;
    path {
      fill: currentColor;
    }
  }
}

.mock-entry {
  display: inline-block;
  border-radius: 6px;
  background-color: var(--mock-control);
  padding: 6px 9px;
  padding-inline-end: 30px;
  text-align: start;
  min-width: 120px;
}

.mock-entry-row {
  background: var(--background-color);
  border-radius: 13px;
  text-align: start;
  padding: 4px 12px 6px;
  margin: 0 24px;

  .label {
    font-size: 0.8em;
    opacity: 0.6;
    user-select: none;
  }

  input {
    all: unset;
    display: block;
    width: 100%;
    cursor: text;
  }
}

.mock-label {
  display: inline-block;
  color: var(--mock-label);
  padding: 6px 9px;
  user-select: none;
}

.mock-button-group {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  column-gap: 12px;
  row-gap: 12px;
}

.highlight {
  box-shadow: 0 0 1px 2px var(--gnomeblue);
}