<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html lang="{{ site.document_language }}" dir="auto">
<head>
  <meta charset="UTF-8"/>
  <meta content="width=device-width,initial-scale=1" name="viewport"/>
  <link rel="stylesheet" href="{{ site.assets_url }}/style/main.css"/>
  <title>{{ "Welcome to GNOME"|t }} – {% block title %}{% endblock %}</title>
  <script src="{{ site.assets_url }}/js/languages.js"></script>
  {% block lang_redirect %}
    <script>
      redirectToUserLang("{{ site.base_url }}", "{{ site.lang_base_url }}");
      function selectLanguage() {
        fillLanguageList(document.getElementById('language-list'), '{{ site.base_url }}', '{{ site.lang_base_url }}');
        document.getElementById('language-selector').showModal();
      }
    </script>
  {% endblock lang_redirect %}
  {% block html_head %}{% endblock html_head %}
</head>
<body lang="{{ site.document_language }}">
<header>
{% block navigation %}
  <section class="teaser">
    <input type="checkbox" name="show-navigation" id="show-navigation" />
    <div>
      <nav class="top">
        <ul class="begin">
          <li><a href="{{ site.lang_base_url }}/">{{ "Welcome to GNOME"|t }}</a></li>
        </ul>
        <ul class="end">
          <li><a href="{{ site.lang_base_url }}/">{{ "Overview"|t }}</a></li>
          <li><label title="Show Navigation" for="show-navigation"><img class="nav-icon" src="{{ site.assets_url }}/icon/menu.svg" alt="" /></label></li>
        </ul>
      </nav>
    </div>
    <nav class="expand detail-nav content-width">
      <div>
        <h4>{{ "Where to contribute"|t }}</h4>
        <ul>
          <li><a href="{{ site.lang_base_url }}/team/programming/">{{ "Programming"|t }}</a></li>
          <li><a href="{{ site.lang_base_url }}/team/design/">{{ "Design"|t }}</a></li>
          <li><a href="https://wiki.gnome.org/TranslationProject">{{ "Translation"|t }}</a></li>
          <li><a href="https://wiki.gnome.org/DocumentationProject/Contributing">{{ "Documentation"|t }}</a></li>
          <li><a href="{{ site.lang_base_url }}/team/websites/">{{ "Websites"|t }}</a></li>
        </ul>
      </div>
      <div>
        <h4>{{ "This page"|t }}</h4>
        <ul>
          <li><a onclick="selectLanguage(); return false" href="#">{{ "Select Language"|t }}</a></li>
          <li><a href="https://gitlab.gnome.org/Teams/Websites/welcome.gnome.org/-/issues">{{ "Feedback"|t }}</a></li>
          {% block footer %}{% endblock footer %}
        </ul>
      </div>
    </nav>
  </section>
  {% endblock navigation %}
  <section>
{% block splash %}{% endblock splash %}
</section>
</header>
<section><div>
  {% block content %}{% endblock content %}
</div></section>
<footer>
  <section class="footer-width links">
    <div style="flex-basis: 160px;">
      <a title="GNOME Homepage" href="https://www.gnome.org"><img src="{{ site.assets_url }}/logo/gnome.svg" style="width: 130px" alt="" /></a>
      <ul>
        <li><a href="https://foundation.gnome.org/contact-us/">{{ "Contact"|t }}</a></li>
        <li><a href="https://www.gnome.org/privacy-policy/">{{ "Privacy Policy"|t }}</a></li>
      </ul>
      <p class="copyright">{{ "© 2022–{} The “Welcome to GNOME” contributors"|tc("The {} will be replacest with a year.")|f(["2023"]) }}</p>
    </div>
    <div>
      <h3>{{ "News"|t }}</h3>
      <ul>
        <li><a href="https://thisweek.gnome.org">{{ "This Week in GNOME"|t }}</a></li>
        <li><a href="https://planet.gnome.org">{{ "Planet GNOME"|t }}</a></li>
        <li><a href="https://foundation.gnome.org/news/">{{ "Foundation News"|t }}</a></li>
        <li><a href="https://release.gnome.org">{{ "Latest Release"|t }}</a></li>
      </ul>
    </div>
    <div>
      <h3>{{ "Engage"|t }}</h3>
      <ul>
        <li><a href="https://welcome.gnome.org">{{ "Welcome to GNOME"|t }}</a></li>
        <li><a href="https://conduct.gnome.org">{{ "Code of Conduct"|t }}</a></li>
        <li><a href="https://gitlab.gnome.org">{{ "Issue Tracker"|t }}</a></li>
        <li><a href="https://discourse.gnome.org">{{ "Forum"|t }}</a></li>
        <li><a href="https://shop.gnome.org">{{ "Merch"|t }}</a></li>
      </ul>
    </div>
    <div>
      <h3>{{ "Resources"|t }}</h3>
      <ul>
        <li><a href="https://apps.gnome.org">{{ "Apps for GNOME"|t }}</a></li>
        <li><a href="https://developer.gnome.org">{{ "Developer Center"|t }}</a></li>
        <li><a href="https://handbook.gnome.org">{{ "GNOME Handbook"|t }}</a></li>
        <li><a href="https://circle.gnome.org">{{ "GNOME Circle"|t }}</a></li>
        <li><a href="https://foundation.gnome.org">{{ "GNOME Foundation"|t }}</a></li>
      </ul>
    </div>
    <div>
      <ul>
        <li><a title="{{ "Mastodon Account"|t }}" href="https://floss.social/@gnome" rel="me"><img src="{{ site.assets_url }}/logo/mastodon.svg" alt="" class="icon" /></a></li>
        <li><a title="{{ "Matrix Community"|t }}" href="https://matrix.to/#/#community:gnome.org"><img src="{{ site.assets_url }}/logo/matrix.svg" alt="" class="icon" /></a></li>
        <li><a title="{{ "Facebook"|t }}" href="https://www.facebook.com/GNOME/"><img src="{{ site.assets_url }}/logo/facebook.svg" alt="" class="icon" /></a></li>
        <li><a title="{{ "YouTube Channel"|t }}" href="https://www.youtube.com/@GNOMEDesktop"><img src="{{ site.assets_url }}/logo/youtube.svg" alt="" class="icon" /></a></li>
      </ul>
    </div>
  </section>
  <p class="content-width generated">{{ "Page generated {0}"|t|f([site.now_localized.as_str()]) }}</p>
</footer>
<dialog id="language-selector">
  <header>
    <h3>{{ "Select Language"|t }}</h3>
    <form method="dialog">
      <button class="close" title="{{ "Close Language Selection"|t }}"></button>
    </form>
  </header>
  <ul id="language-list"></ul>
</dialog>
</body>
</html>
