{%- macro app_list(app_list) -%}
<div>
  <ul class="app-grid">
    {%- for app_id in app_list -%}
      {%- call app(app_id) -%}
    {%- endfor -%}
  </ul>
</div>
{%- endmacro -%}

{%- macro app(app_id) -%}
  {%- let app = apps.get(app_id.deref()).expect(format!("Unknown app id '{}'", app_id)) -%}
  {%- let url = format!("https://apps.gnome.org/{}/", app.page_id) -%}
  {%- let icon = format!("https://apps.gnome.org/icons/scalable/{}.svg", app_id) -%}
  {%- call app_manual(app.name, url, icon) -%}
{%- endmacro -%}

{%- macro app_flathub(name, app_id) -%}
  {%- let url = format!("https://flathub.org/apps/details/{}", app_id) -%}
  {%- let icon = format!("https://dl.flathub.org/repo/appstream/x86_64/icons/128x128/{}.png", app_id) -%}
  {%- call app_manual(name, url, icon) -%}
{%- endmacro -%}

{% macro app_manual(name, url, icon) %}
<li>
  <a href="{{ url }}">
    <img class="app-icon" src="{{ icon }}" />
    <div class="app-name">{{ name }}</div>
  </a>
</li>
{% endmacro %}

{%- macro link(kind, url_, header, text) -%}
<li>
  <a class="{{ kind }}" href="{{url_}}">
    <div class="icon">
      {% if kind == "chat" %}
        {%- include "icons/chat.svg" -%}
      {% else if kind == "docs" %}
        {%- include "icons/docs.svg" -%}
      {% else if kind == "issues" %}
        {%- include "icons/issues.svg" -%}
      {% else if kind == "gitlab" %}
        {%- include "icons/gitlab.svg" -%}
      {% else if kind == "translation" %}
        {%- include "icons/translation.svg" -%}
      {% else if kind == "installation" %}
        {%- include "icons/download.svg" -%}
      {% endif %}
    </div>
    <div>
      <b>{{ header }}</b>
      {{ text }}
    </div>
  </a>
</li>
{%- endmacro -%}

{% macro footer_edit_page(filename) %}
<li>
  <a href="https://gitlab.gnome.org/Teams/Websites/welcome.gnome.org/-/edit/main/templates/{{ filename }}">
    {{ "Edit this Page"|t }}
  </a>
</li>
{% endmacro %}