{% extends "_base.html" %}
{% import "_macros.html" as macro %}

{% block title %}{{ app.name }}{% endblock %}

{% block splash %}
  <div class="app-header">
    <img src="https://apps.gnome.org/icons/scalable/{{ app.id }}.svg" />
    <div>
      <h1>{{ app.name }}</h1>
      <p>{{ app.summary }}</p>
    </div>
  </div>
{% endblock splash %}

{% block footer %}
  {% call macro::footer_edit_page("app.md") %}
{% endblock footer %}

{% block content %}
  {{ content|safe }}
{% endblock content %}
